In [1]:
from os import chdir
chdir('/home/jovyan/work')

In [2]:
import random
import pandas as pd

# Adult Data Set

[source](http://archive.ics.uci.edu/ml/datasets/Adult)

Download: [Data Folder](http://archive.ics.uci.edu/ml/machine-learning-databases/adult/), [Data Set Description](http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.names)

Abstract: Predict whether income exceeds $50K/yr based on census data. Also known as "Census Income" dataset.

    | This data was extracted from the census bureau database found at
    | http://www.census.gov/ftp/pub/DES/www/welcome.html
    | Donor: Ronny Kohavi and Barry Becker,
    |        Data Mining and Visualization
    |        Silicon Graphics.
    |        e-mail: ronnyk@sgi.com for questions.
    | Split into train-test using MLC++ GenCVFiles (2/3, 1/3 random).
    | 48842 instances, mix of continuous and discrete    (train=32561, test=16281)
    | 45222 if instances with unknown values are removed (train=30162, test=15060)
    | Duplicate or conflicting instances : 6
    | Class probabilities for adult.all file
    | Probability for the label '>50K'  : 23.93% / 24.78% (without unknowns)
    | Probability for the label '<=50K' : 76.07% / 75.22% (without unknowns)

In [3]:
!ls -l

total 16
drwxrwxr-x 2 jovyan 1000 4096 Jun 11 23:53 docker
-rw-rw-r-- 1 jovyan 1000  145 Jun 11 23:55 docker-compose.yml
drwxrwxr-x 3 jovyan 1000 4096 Jun 12 03:12 ipynb
drwxrwxr-x 2 jovyan 1000 4096 Jun 11 23:53 lib

In [4]:
!mkdir data

In [5]:
!wget -P data/ \
  http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data

--2017-06-12 03:28:31--  http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.249
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.249|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3974305 (3.8M) [text/plain]
Saving to: ‘data/adult.data’

data/adult.data     100%[=====================>]   3.79M  7.93MB/s   in 0.5s

2017-06-12 03:28:31 (7.93 MB/s) - ‘data/adult.data’ saved [3974305/3974305]

In [6]:
!wc -l data/adult.data

32562 data/adult.data

In [7]:
!head -n 2 data/adult.data

39, State-gov, 77516, Bachelors, 13, Never-married, Adm-clerical, Not-in-family, White, Male, 2174, 0, 40, United-States, <=50K
50, Self-emp-not-inc, 83311, Bachelors, 13, Married-civ-spouse, Exec-managerial, Husband, White, Male, 0, 0, 13, United-States, <=50K

In [8]:
number_of_rows = 32562
sample_size = 3300

rows_to_skip = random.sample(range(number_of_rows), number_of_rows - sample_size)
rows_to_skip.sort()

adult_df = pd.read_csv('data/adult.data', header=None, skiprows=rows_to_skip)
adult_df.columns = [
    'age',
    'workclass',
    'fnlwgt',
    'education',
    'education_num',
    'marital_status',
    'occupation',
    'relationship',
    'race',
    'gender',
    'capital_gain',
    'capital_loss',
    'hours_per_week',
    'native_country',
    'income_label'
]

In [9]:
adult_df.sample(3)

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_label
1571,43,Local-gov,36924,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K
2690,47,Private,456661,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,Mexico,<=50K
2102,29,Private,203797,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,40,United-States,<=50K

### Attribute Type

    age: continuous
    workclass: class
    fnlwgt: continuous
    education: class
    education_num: continuous
    marital_status: class
    occupation: class
    relationship: class
    race: class
    gender: class
    capital_gain: continuous
    capital_loss: continuous
    hours_per_week: continuous
    native_country: class
    income_label: class

In [10]:
adult_df.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education_num      int64
marital_status    object
occupation        object
relationship      object
race              object
gender            object
capital_gain       int64
capital_loss       int64
hours_per_week     int64
native_country    object
income_label      object
dtype: object